.btn {
	min-width: 150px;
}

.icon-edit {
	display: inline-block;
	background-image: url('../edit.png');
	background-size: 30px 30px;
	margin-right: 5px;
	width: 30px;
	height: 30px;
}

.icon-new {
	display: inline-block;
	background-image: url('../new.png');
	background-size: 30px 30px;
	margin-right: 5px;
	width: 30px;
	height: 30px;
}

.icon-delete {
	display: inline-block;
	background-image: url('../delete.png');
	background-size: 30px 30px;
	margin-right: 5px;
	width: 30px;
	height: 30px;
}

.icon-view {
	display: inline-block;
	background-image: url('../view.png');
	background-size: 30px 30px;
	margin-right: 5px;
	width: 30px;
	height: 30px;
}

.label-div {
	display: inline-block;
	border-radius: 6px;
	background-image: linear-gradient(to bottom, #CCC 0px, #B0B0B0 100%);
	background-repeat: repeat-x;
	border-color: #CCC;
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
}

.label-div .label-value {
	display: inline-block;
	border-radius: 6px;
	background-image: linear-gradient(to bottom, #FFF 0px, #E0E0E0 100%);
	background-repeat: repeat-x;
	border-color: #CCC;
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
}
