<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-componentRouter-production</title>
  <style>
h1 {color: #369; font-family: Arial, Helvetica, sans-serif; font-size: 250%;}
h2 { color: #369; font-family: Arial, Helvetica, sans-serif;  }
h3 { color: #444; font-weight: lighter; }
body { margin: 2em; }
body, input[text], button { color: #888; font-family: Cambria, Georgia; }
button {padding: 0.2em; font-size: 14px}

ul {list-style-type: none; margin-left: 1em; padding: 0; width: 20em;}

li { cursor: pointer; position: relative; left: 0; transition: all 0.2s ease; }
li:hover {color: #369; background-color: #EEE; left: .2em;}

/* route-link anchor tags */
a {padding: 5px; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a:visited, a:link {color: #444;}
a:hover {color: white; background-color: #1171a3; }
a.router-link-active {color: white; background-color: #52b9e9; }

.selected { background-color: #EEE; color: #369; }

.badge {
  font-size: small;
  color: white;
  padding: 0.1em 0.7em;
  background-color: #369;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -1px;
}

crisis-detail input {
  width: 20em;
}
  </style>
	<script type="text/javascript" src="../../../../target/classes/alljs.js"></script>
<!-- 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://npmcdn.com/@angular/router@0.2.0/angular1/angular_1_router.js"></script>
 -->

  <script type="text/javascript">
	var m = require(["jquery", "ang"], function($, m) {

  // app.js
  (function(angular) {
	  'use strict';
	angular.module('app', ['ngComponentRouter', 'heroes', 'crisis-center'])

	.config(function($locationProvider) {
	//  $locationProvider.html5Mode(true);
	})

	.value('$routerRootComponent', 'app')

	.component('app', {
	  template:
	    '<nav>\n' +
	    '  <a ng-link="[\'CrisisCenter\']">Crisis Center</a>\n' +
	    '  <a ng-link="[\'Heroes\']">Heroes</a>\n' +
	    '</nav>\n' +
	    '<ng-outlet></ng-outlet>\n',
	  $routeConfig: [
	    {path: '/crisis-center/...', name: 'CrisisCenter', component: 'crisisCenter', useAsDefault: true},
	    {path: '/heroes/...', name: 'Heroes', component: 'heroes' }
	  ]
	});
	})(window.angular);

  // heroes.js
(function(angular) {
  'use strict';
angular.module('heroes', [])
  .service('heroService', HeroService)

  .component('heroes', {
    template: '<h2>Heroes</h2><ng-outlet></ng-outlet>',
    $routeConfig: [
      {path: '/',    name: 'HeroList',   component: 'heroList', useAsDefault: true},
      {path: '/:id', name: 'HeroDetail', component: 'heroDetail'}
    ]
  })

  .component('heroList', {
    template:
      '<div ng-repeat="hero in $ctrl.heroes" ' +
      '     ng-class="{ selected: $ctrl.isSelected(hero) }">\n' +
        '<a ng-link="[\'HeroDetail\', {id: hero.id}]">{{hero.name}}</a>\n' +
      '</div>',
    controller: HeroListComponent
  })

  .component('heroDetail', {
    template:
      '<div ng-if="$ctrl.hero">\n' +
      '  <h3>"{{$ctrl.hero.name}}"</h3>\n' +
      '  <div>\n' +
      '    <label>Id: </label>{{$ctrl.hero.id}}</div>\n' +
      '  <div>\n' +
      '    <label>Name: </label>\n' +
      '    <input ng-model="$ctrl.hero.name" placeholder="name"/>\n' +
      '  </div>\n' +
      '  <button ng-click="$ctrl.gotoHeroes()">Back</button>\n' +
      '</div>\n',
    bindings: { $router: '<' },
    controller: HeroDetailComponent
  });


function HeroService($q) {
  var heroesPromise = $q.when([
    { id: 11, name: 'Mr. Nice' },
    { id: 12, name: 'Narco' },
    { id: 13, name: 'Bombasto' },
    { id: 14, name: 'Celeritas' },
    { id: 15, name: 'Magneta' },
    { id: 16, name: 'RubberMan' }
  ]);

  this.getHeroes = function() {
    return heroesPromise;
  };

  this.getHero = function(id) {
    return heroesPromise.then(function(heroes) {
      for(var i=0; i<heroes.length; i++) {
        if ( heroes[i].id == id) return heroes[i];
      }
    });
  };
}

function HeroListComponent(heroService) {
  var selectedId = null;
  var $ctrl = this;

  this.$routerOnActivate = function(next) {
    // Load up the heroes for this view
    heroService.getHeroes().then(function(heroes) {
      $ctrl.heroes = heroes;
      selectedId = next.params.id;
    });
  };

  this.isSelected = function(hero) {
    return (hero.id == selectedId);
  };
}

function HeroDetailComponent(heroService) {
  var $ctrl = this;

  this.$routerOnActivate = function(next) {
    // Get the hero identified by the route parameter
    var id = next.params.id;
    heroService.getHero(id).then(function(hero) {
      $ctrl.hero = hero;
    });
  };

  this.gotoHeroes = function() {
    var heroId = this.hero && this.hero.id;
    this.$router.navigate(['HeroList', {id: heroId}]);
  };
}
})(window.angular);

  // crisis.js
(function(angular) {
  'use strict';
angular.module('crisis-center', ['dialog'])
  .service('crisisService', CrisisService)

  .component('crisisCenter', {
    template: '<h2>Crisis Center</h2><ng-outlet></ng-outlet>',
    $routeConfig: [
      {path:'/',    name: 'CrisisList',   component: 'crisisList', useAsDefault: true},
      {path:'/:id', name: 'CrisisDetail', component: 'crisisDetail'}
    ]
  })

  .component('crisisList', {
    template:
      '<ul>\n' +
      '  <li ng-repeat="crisis in $ctrl.crises"\n' +
      '    ng-class="{ selected: $ctrl.isSelected(crisis) }"\n' +
      '    ng-click="$ctrl.onSelect(crisis)">\n' +
      '    <span class="badge">{{crisis.id}}</span> {{crisis.name}}\n' +
      '  </li>\n' +
      '</ul>\n',
    bindings: { $router: '<' },
    controller: CrisisListComponent,
    $canActivate: function($nextInstruction, $prevInstruction) {
      console.log('$canActivate', arguments);
    }
  })

  .component('crisisDetail', {
    template: 
    	'<div ng-if="$ctrl.crisis"> \
    	  <h3>"{{$ctrl.editName}}"</h3> \
    	  <div> \
    	    <label>Id: </label>{{$ctrl.crisis.id}}</div> \
    	  <div> \
    	    <label>Name: </label> \
    	    <input ng-model="$ctrl.editName" placeholder="name"/> \
    	  </div> \
    	  <button ng-click="$ctrl.save()">Save</button> \
    	  <button ng-click="$ctrl.cancel()">Cancel</button> \
    	</div>',
    bindings: { $router: '<' },
    controller: CrisisDetailComponent
  });


function CrisisService($q) {
  var crisesPromise = $q.when([
    {id: 1, name: 'Princess Held Captive'},
    {id: 2, name: 'Dragon Burning Cities'},
    {id: 3, name: 'Giant Asteroid Heading For Earth'},
    {id: 4, name: 'Release Deadline Looms'}
  ]);

  this.getCrises = function() {
    return crisesPromise;
  };

  this.getCrisis = function(id) {
    return crisesPromise.then(function(crises) {
      for(var i=0; i<crises.length; i++) {
        if ( crises[i].id == id) return crises[i];
      }
    });
  };
}

function CrisisListComponent(crisisService) {
  var selectedId = null;
  var ctrl = this;

  this.$routerOnActivate = function(next) {
    console.log('$routerOnActivate', this, arguments);
    // Load up the crises for this view
    crisisService.getCrises().then(function(crises) {
      ctrl.crises = crises;
      selectedId = next.params.id;
    });
  };

  this.isSelected = function(crisis) {
    return (crisis.id == selectedId);
  };

  this.onSelect = function(crisis) {
    this.$router.navigate(['CrisisDetail', { id: crisis.id }]);
  };
}

function CrisisDetailComponent(crisisService, dialogService) {
  var ctrl = this;
  this.$routerOnActivate = function(next) {
    // Get the crisis identified by the route parameter
    var id = next.params.id;
    crisisService.getCrisis(id).then(function(crisis) {
      if (crisis) {
        ctrl.editName = crisis.name;
        ctrl.crisis = crisis;
      } else { // id not found
        ctrl.gotoCrises();
      }
    });
  };

  this.$routerCanDeactivate = function() {
    // Allow synchronous navigation (`true`) if no crisis or the crisis is unchanged.
    if (!this.crisis || this.crisis.name === this.editName) {
      return true;
    }
    // Otherwise ask the user with the dialog service and return its
    // promise which resolves to true or false when the user decides
    return dialogService.confirm('Discard changes?');
  };

  this.cancel = function() {
    ctrl.editName = ctrl.crisis.name;
    ctrl.gotoCrises();
  };

  this.save = function() {
    ctrl.crisis.name = ctrl.editName;
    ctrl.gotoCrises();
  };

  this.gotoCrises = function() {
    var crisisId = ctrl.crisis && ctrl.crisis.id;
    // Pass along the hero id if available
    // so that the CrisisListComponent can select that hero.
    this.$router.navigate(['CrisisList', {id: crisisId}]);
  };
}
})(window.angular);

  //dialog.js
(function(angular) {
  'use strict';
angular.module('dialog', [])

.service('dialogService', DialogService);

function DialogService($q) {
  this.confirm = function(message) {
    return $q.when(window.confirm(message || 'Is it OK?'));
  };
}
})(window.angular);
  
    	angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
	});
  </script>
</head>
<body ng-app="app">
  <h1 class="title">Component Router</h1>
<app></app>
</body>
</html>
