<configuration>
<!-- 	<appender name="my.appender.file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/mylog.log</file>
		<encoder>
			<pattern>%date{dd.MM.yyyy HH:mm:ss.SSS}|%-5level|%-10logger| %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>log/mylog_%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>4</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
	</appender> -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%date{HH:mm:ss.SSS}|%-5level|%-30.-30logger| %msg%n</pattern> -->
			<pattern>%-5level %-40.-40logger| %msg%n</pattern>
		</encoder>
	</appender>

	<logger level="none"  name="uk.org.lidalia.sysoutslf4j.context" additivity="false" />

<!-- 	<logger name="my.logger.file" level="all" additivity="false">
		<appender-ref ref="my.appender.file" />
	</logger> -->

	<logger level="debug" name="com.slavi.math.adjust.LeastSquaresAdjust.measurements" />
	<logger level="trace" name="com.slavi.math.adjust.LeastSquaresAdjust" />

	<logger level="info"  name="com.slavi.example.logging.Log4J" />
	<logger level="error" name="org.apache.commons.digester" />
	<logger level="error" name="org.apache.commons.beanutils" />
	<logger level="debug" name="org.eclipse.persistence" />
	<logger level="info"  name="org.springframework" />
	<logger level="error" name="Derby" />

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
