<div class="col-sm-12">
	<button ng-click="$ctrl.onClick()">Click me</button>
	<p>Sample data: <span class="badge">zzn@nw</span></p>
</div>
<div class="col-sm-4">
	<my-panel data-title="Location">
		<div class="form-group has-feedback">
			<input placeholder="Search" type="text" class="form-control" ng-model="$ctrl.query" ng-change="$ctrl.updateList()" />
			<a href="" class="btn btn-primary form-control-feedback"><span class="glyphicon glyphicon-cog"></span></a>
		</div>
		<label>max:</label><select ng-model="$ctrl.size" ng-change="$ctrl.updateList()"
			ng-options="size for size in [3,5,10,20,50,100]">
		</select>
		<label>sort:</label><select ng-model="$ctrl.order" ng-change="$ctrl.updateList()"
			ng-options="order.v as order.k for order in $ctrl.orderBy">
		</select>
		<dl>
			<dd ng-repeat="item in $ctrl.data.item" ng-class="{ 'alert-info': service.isSelected(item) }" ng-click="$ctrl.onSelect(item)">
					ID: <span>{{item.id}}</span>; location: <span>{{item.name}}</span>
			</dd>
		</dl>
		<uib-pagination 
			class="pagination-sm" 
			total-items="$ctrl.data.recordsFiltered"
			items-per-page="$ctrl.size"
			max-size="5"
			previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
			boundary-links="true"
			boundary-link-numbers="false"
			ng-model="$ctrl.page"
			ng-change="$ctrl.updateList()">
		</uib-pagination>
		
	</my-panel>
</div>
<div class="col-sm-8">
	<location-detail data-item="service.selectedItem"></location-detail>
</div>
