<my-panel ng-show="$ctrl.item" data-title="Details">
	<my-form data-save="Done" data-on-save="$ctrl.onSave()" data-on-cancel="$ctrl.onCancel()">
		<my-form-field data-label="ID:" data-name="id">
			<p class="form-control-static">{{item.id}}</p>
		</my-form-field>
		<my-form-field data-label="Name:" data-name="name">
			<input 
				type="text"
				class="form-control"
				name="name"
				ng-model="item.name"
				ng-minlength="3"
				ng-maxlength="15"
				ng-required="true"
				ng-trim="true"
				ng-pattern="'[A-Za-z@0-9]+'"
			/>
		</my-form-field>
		<my-form-field data-label="e-mail:" data-name="email">
			<input 
				type="email"
				class="form-control"
				name="email"
				ng-model="item.email"
				my-validator="$ctrl.validate"
				my-async-validator="$ctrl.asyncValidate"
				my-same-value-as="item.name"
				my-same-value-as-message="{{$ctrl.sameValueMessage}}"
			/>
		</my-form-field>
	</my-form>
</my-panel>
