<my-panel ng-show="item" data-title="'Details'">
	<form 
		name="$ctrl.myForm" 
		class="form-horizontal" 
		novalidate
		ng-model-options="{ updateOn: 'default blur', debounce: { default: 700, blur: 0 } }"
	>
		<div class="col-sm-12 panel panel-danger" ng-if="$ctrl.hasErrors()">
			<p ng-repeat="error in $ctrl.myForm.submitErrors.errors">{{error}}</p>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">ID:</label>
			<div class="col-sm-10"><p class="form-control-static">{{item.id}}</p></div>
		</div>
		<my-form-field data-label="Name:" data-name="name">
			<input 
				type="text" 
				class="form-control"
				name="name"
				ng-model="item.name"
				ng-minlength="3"
				ng-maxlength="15"
				ng-required="true"
				ng-trim="true"
				ng-pattern="/[A-Za-z0-9]+/"
			/>
		</my-form-field>
		<my-form-field data-label="e-mail:" data-name="email">
			<input 
				type="email"
				class="form-control"
				name="email"
				ng-model="item.email"
				my-validator="$ctrl.validate"
				my-async-validator="$ctrl.asyncValidate"
				my-same-value-as="item.name"
				my-same-value-as-message="{{$ctrl.sameValueMessage}}"
			/>
		</my-form-field>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-primary" ng-click="$ctrl.onDone()">Done</button>
			</div>
		</div>
	</form>
</my-panel>
