<form class="form-horizontal">
	<div class="input-group">
		<input placeholder="Search" type="text" class="form-control" ng-model="$ctrl.query" ng-change="$ctrl.updateList()" />
		<span class="input-group-btn">
			<a	href=""
				class="btn btn-primary"
				uib-popover-template="'myapp5/locationList-popover.html'" 
				popover-placement="bottom-right"
				popover-is-open="settings-isOpened">
				<span class="glyphicon glyphicon-cog"></span>
			</a>
		</span>
	</div>
</form>

<div class="container-fluid table table-striped table-hover">
	<div class="thead">
		<div class="row tr">
			<div class="th col-sm-4" ng-repeat="field in $ctrl.columnFields" ng-click="$ctrl.doOrderBy($index)" ng-class="$ctrl.getHeaderColumnClass($index)">
				<span>{{field.label}}</span>
				<span ng-class="$ctrl.getOrderByClass($index)" />
			</div>
			<div class="th col-sm-1"></div>
		</div>
	</div>
	<div class="tbody">
		<div class="row tr clickable" ng-repeat="item in $ctrl.data.item" ng-class="service.isSelected(item) ? 'info selected' : ''" ng-click="$ctrl.onSelect(item)">
			<div class="td col-sm-3" ng-repeat="field in $ctrl.columnFields" ng-class="$ctrl.getHeaderColumnClass($index)">{{item[field.name]}}</div>
			<div class="td col-sm-1"><a href=""><span class="show-on-hover glyphicon glyphicon-chevron-right"></span></a></div>
		</div>
	</div>
</div>

<table class="table table-condensed table-striped table-hover">
	<thead>
		<tr>
			<th ng-repeat="field in $ctrl.columnFields" ng-click="$ctrl.doOrderBy($index)" ng-class="$ctrl.getHeaderColumnClass($index)">
				<span>{{field.label}}</span>
				<span ng-class="$ctrl.getOrderByClass($index)" />
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in $ctrl.data.item" class="clickable" ng-class="service.isSelected(item) ? 'info selected' : ''" ng-click="$ctrl.onSelect(item)">
			<td ng-repeat="field in $ctrl.columnFields">{{item[field.name]}}</td>
			<td><a href=""><span class="show-on-hover glyphicon glyphicon-chevron-right"></span></a></td>
		</tr>
	</tbody>
</table>

<uib-pagination ng-if="$ctrl.data.recordsFiltered / $ctrl.size > 1"
	class="pagination-sm" 
	total-items="$ctrl.data.recordsFiltered"
	items-per-page="$ctrl.size"
	max-size="5"
	previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
	boundary-links="true"
	boundary-link-numbers="false"
	ng-model="$ctrl.page"
	ng-change="$ctrl.updateList()">
</uib-pagination>
