<form class="form-horizontal">
	<div class="input-group">
		<input placeholder="Search" type="text" class="form-control" ng-model="$ctrl.query" ng-change="$ctrl.updateListDelayed()" />
		<span class="input-group-btn">
			<a	href=""
				class="btn btn-primary"
				uib-popover-template="'myapp5/myFormListGen-popover.html'" 
				popover-placement="bottom-right"
				popover-is-open="settings-isOpened">
				<span class="glyphicon glyphicon-cog"></span>
			</a>
		</span>
	</div>
</form>

<div class="table table-striped table-hover">
	<div class="thead">
		<div class="tr container-flex">
			<div>
				<div class="th" ng-repeat="field in $ctrl.columnFields" ng-click="$ctrl.doOrderBy($index)" ng-class="$ctrl.getHeaderColumnClass($index)">
					<span>{{field.label}}</span>
					<span ng-class="$ctrl.getOrderByClass($index)" />
				</div>
			</div>
			<div class="th fixed-flex">
				<a href=""><span class="show-on-hover glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
	<div class="tbody">
		<div 
			class="tr clickable container-flex" 
			ng-repeat="item in $ctrl.data.item" 
			ng-class="$ctrl.isSelected(item) ? 'info selected' : ''" 
			ng-click="$ctrl.onClick(item)"
			ng-dblclick="$ctrl.onDblClick(item)">
			<div>
				<div class="td" ng-repeat="field in $ctrl.columnFields" ng-class="$ctrl.getHeaderColumnClass($index)">{{item[field.name]}}</div>
			</div>
			<div class="td fixed-flex">
				<a href=""><span class="show-on-hover glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
</div>

<uib-pagination ng-if="$ctrl.data.recordsFiltered / $ctrl.size > 1"
	class="pagination-sm" 
	total-items="$ctrl.data.recordsFiltered"
	items-per-page="$ctrl.size"
	max-size="5"
	previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
	boundary-links="true"
	boundary-link-numbers="false"
	ng-model="$ctrl.page"
	ng-change="$ctrl.updateListImediately()">
</uib-pagination>
