<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>TEST Angular JS</title>
<base href="http://localhost:8080/examples.spa.backend/">
<link rel="stylesheet" href="res/css/style.css">
</head>

<body>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">Location</div>
					<div class="panel-body">

						<form class="form-horizontal">
							<div class="input-group">
								<input placeholder="Search" class="form-control" type="text"> <a href=""
									class="btn btn-primary input-group-addon"><span class="glyphicon glyphicon-cog"></span></a>
							</div>
						</form>

						<div class="container-fluid">
							<div class="row">
								<!-- ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-click="$ctrl.doOrderBy($index)" ng-class="$ctrl.getHeaderColumnClass($index)">
									<span class="ng-binding">ID</span> <span class="glyphicon glyphicon-chevron-up"
										ng-class="$ctrl.getOrderByClass($index)"></span>
								</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-scope clickable col-sm-5" ng-repeat="field in $ctrl.columnFields"
									ng-click="$ctrl.doOrderBy($index)" ng-class="$ctrl.getHeaderColumnClass($index)">
									<span class="ng-binding">Name</span> <span ng-class="$ctrl.getOrderByClass($index)"></span>
								</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-click="$ctrl.doOrderBy($index)" ng-class="$ctrl.getHeaderColumnClass($index)">
									<span class="ng-binding">e-mail</span> <span ng-class="$ctrl.getOrderByClass($index)"></span>
								</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-click="$ctrl.doOrderBy($index)" ng-class="$ctrl.getHeaderColumnClass($index)">
									<span class="ng-binding">type</span> <span ng-class="$ctrl.getOrderByClass($index)"></span>
								</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div></div>
							</div>
							<!-- ngRepeat: item in $ctrl.data.item -->
							<div class="row clickable ng-scope" ng-repeat="item in $ctrl.data.item"
								ng-class="service.isSelected(item) ? 'info selected' : ''" ng-click="$ctrl.onSelect(item)">
								<!-- ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">1</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-5" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">Name 0</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">Name0@example.com</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">Office</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div>
									<a href=""><span class="show-on-hover glyphicon glyphicon-chevron-right"></span></a>
								</div>
							</div>
							<!-- end ngRepeat: item in $ctrl.data.item -->
							<div class="row clickable ng-scope" ng-repeat="item in $ctrl.data.item"
								ng-class="service.isSelected(item) ? 'info selected' : ''" ng-click="$ctrl.onSelect(item)">
								<!-- ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">2</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-5" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">Name 1</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">1</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">Office</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div>
									<a href=""><span class="show-on-hover glyphicon glyphicon-chevron-right"></span></a>
								</div>
							</div>
							<!-- end ngRepeat: item in $ctrl.data.item -->
							<div class="row clickable ng-scope" ng-repeat="item in $ctrl.data.item"
								ng-class="service.isSelected(item) ? 'info selected' : ''" ng-click="$ctrl.onSelect(item)">
								<!-- ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">3</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-5" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">Name 2</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">Name2@example.com</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">Office</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div>
									<a href=""><span class="show-on-hover glyphicon glyphicon-chevron-right"></span></a>
								</div>
							</div>
							<!-- end ngRepeat: item in $ctrl.data.item -->
							<div class="row clickable ng-scope" ng-repeat="item in $ctrl.data.item"
								ng-class="service.isSelected(item) ? 'info selected' : ''" ng-click="$ctrl.onSelect(item)">
								<!-- ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">4</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-5" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">Name 3</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">3</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">Office</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div>
									<a href=""><span class="show-on-hover glyphicon glyphicon-chevron-right"></span></a>
								</div>
							</div>
							<!-- end ngRepeat: item in $ctrl.data.item -->
							<div class="row clickable ng-scope" ng-repeat="item in $ctrl.data.item"
								ng-class="service.isSelected(item) ? 'info selected' : ''" ng-click="$ctrl.onSelect(item)">
								<!-- ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">5</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-5" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">Name 4</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">Name4@example.com</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div class="ng-binding ng-scope clickable col-sm-2" ng-repeat="field in $ctrl.columnFields"
									ng-class="$ctrl.getHeaderColumnClass($index)">Office</div>
								<!-- end ngRepeat: field in $ctrl.columnFields -->
								<div>
									<a href=""><span class="show-on-hover glyphicon glyphicon-chevron-right"></span></a>
								</div>
							</div>
							<!-- end ngRepeat: item in $ctrl.data.item -->
						</div>
						
						<p>
						This is a veeeery long, long paragraph. 
						This is a veeeery long, long paragraph. 
						This is a veeeery long, long paragraph. 
						This is a veeeery long, long paragraph. 
						This is a veeeery long, long paragraph. 
						This is a veeeery long, long paragraph. 
						This is a veeeery long, long paragraph. 
						This is a veeeery long, long paragraph. 
						This is a veeeery long, long paragraph. 
						This is a veeeery long, long paragraph. 
						This is a veeeery long, long paragraph. 
						This is a veeeery long, long paragraph. 
						This is a veeeery long, long paragraph. 
						This is a veeeery long, long paragraph. 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
