<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>TEST Angular JS</title>
	<base href="./">
	<link rel="stylesheet" href="../../../target/dependency/style.css">
	<script type="text/javascript" src="../../../target/classes/alljs.js"></script>
	<script type="text/javascript">
	angular.element(document).ready(function() {
	var m = require(["jquery", "ang"], function($, m) {
		var heroes = angular.module('heroes', []);
		heroes.component('heroes', {
			template: '<h2>Heroes</h2><ng-outlet></ng-outlet>',
			$routeConfig: [
				{ path: '/',    name: 'HeroList',   component: 'heroList', useAsDefault: true },
				{ path: '/:id', name: 'HeroDetail', component: 'heroDetail' }
			]
		});
		heroes.component('heroDetail', {
			template:
				'<div ng-if="$ctrl.hero">\n' +
				'  <h3>"{{$ctrl.hero.name}}"</h3>\n' +
				'  <div>\n' +
				'    <label>Id: </label>{{$ctrl.hero.id}}</div>\n' +
				'  <div>\n' +
				'    <label>Name: </label>\n' +
				'    <input ng-model="$ctrl.hero.name" placeholder="name"/>\n' +
				'  </div>\n' +
				'  <button ng-click="$ctrl.gotoHeroes()">Back</button>\n' +
				'</div>\n',
			bindings: { $router: '<' },
			controller: function(heroService) {
				this.gotoHeroes = function() {
					var heroId = this.hero && this.hero.id;
					this.$router.navigate(['HeroList']);
				};
			}
		});
		heroes.component('heroList', {
			template:
				'<div ng-repeat="hero in $ctrl.heroes">\n' +
				'<a ng-link="[\'HeroDetail\', {id: hero.id}]">{{hero.name}}</a>\n' +
				'</div>',
			controller: function (heroService) {
				var selectedId = null;
				var $ctrl = this;

				this.$routerOnActivate = function(next) {
					heroService.getHeroes().then(
						function(heroes) {
							$ctrl.heroes = heroes;
							selectedId = next.params.id;
						}
					);
				};

				this.isSelected = function(hero) {
					return (hero.id == selectedId);
				};
			}
		})

		var app = angular.module("store", ["heroes"]);
		var log = m["log"];

		app.config(function($locationProvider) {
			//$locationProvider.html5Mode(true);
		});
		app.value('$routerRootComponent', 'app')
		app.component('app', {
			template:
				'<nav>\n' +
				'  <a>Crisis Center</a>\n' +
				'  <a ng-link="[\'Heroes\']">Heroes</a>\n' +
				'</nav>\n' +
				'<ng-outlet></ng-outlet>\n',
			$routeConfig: [
				{ path: '/heroes/...', name: 'Heroes', component: 'heroes' },
			]
		});
		
/*		
		app.component("myComponent", {
			transclude: true,
			template: "<p>MY COMPONENT: Product name {{$ctrl.product.name}} has price <b>{{$ctrl.product.price|currency}}</b><div ng-transclude></div><span>Seem like working</span></p>",
			bindings: {
				product: "="
			},
			controller: ["$scope", "$element", "$attrs", function($scope, $element, $attrs) {
				$ctrl = this;
				log("hi");
			}]
		});
*/
		angular.bootstrap(document, ['store'], {
			//strictDi: true,
		});
		
		log("DONE!");
	})
	});
	</script>
</head>
<body>
	<h1 class="title">Component Router</h1>
	<app></app>
</body>
</html>