<form 
	name="$ctrl.myForm"
	class="form-horizontal"
	role="form"
	novalidate
	ng-model-options="{ updateOn: 'default blur', debounce: { default: 700, blur: 0 } }"
>
	<div class="alert alert-danger" ng-if="$ctrl.hasErrors()">
		<div ng-repeat="error in $ctrl.myForm.submitErrors.errors">
			<span class="glyphicon glyphicon-exclamation-sign"></span>
			{{error}}
		</div>
	</div>
	<ng-transclude></ng-transclude>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<div class="btn-group btn-group-justified">
				<a href="" class="btn btn-success" ng-click="$ctrl.onBtnSave()" ng-class="{ disabled: !$ctrl.isBtnSaveEnabled() }">{{save}}</a>
				<a href="" class="btn btn-warning" ng-click="$ctrl.onBtnCancel()">{{cancel}}</a>
			</div>
		</div>
	</div>
</form>
